{% extends ':Admin:base.html.twig' %}

{% block title_page %}
    Ajouter une catégorie
{% endblock %}

{% block body %}
    {% form_theme form ':Themes:form.html.twig' %}
    <form action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
{% endblock %}

{% block box_button %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('category') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
