{% extends 'AdminBundle:Themes:box.html.twig' %}

{% block box_title %}
    Ajouter une catégorie
{% endblock %}

{% block box_content %}
    <form action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
{% endblock %}

{% block box_button %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('category') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
