.box-content {
    padding:10px;
}
.box-btn {
    float:right;
    margin-left:2px;
    margin-right:2px;
    height: 14px;
    width: 14px;
    text-decoration:none;
    display: block;
    float: right;
    overflow: hidden;
    background-position:center;
    cursor:pointer;
}
.box-btn [class^="icon-"], .box-btn [class*=" icon-"] {
    vertical-align:top;
}
.box-container-closed {
    display:none;
}
.box h4.box-header {
    padding: 7px 7px;
    margin: 0;
    list-style: none;
    cursor:move;
}