{% extends '::admin.html.twig' %}

{% block body %}
    <div class="row">
        <div class="span3">
            <div class="well well-small">
                <div class="center">
                    <img src="/img/large-avatar.png" alt="">
                    <ul id="badge_user" class="unstyled margin-top-10px">
                        <li><span class="label label-info">Conducteur</span></li>
                    </ul>
                </div>
            </div>
            <div class="well well-small">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        Page
                    </li>
                    <li class="active"><a href="/profil/nhl57"><span class="icon-home"></span> Flux d'activité</a></li>
                    <li><a href="/profil/nhl57/liste-des-balades"><span class="icon-road"></span> Mes balades</a></li>
                    <li><a href="/profil/nhl57/favoris"><span class="icon-star"></span> Mes balades favorites</a></li>
                    <li><a href="/profil/nhl57/sorties-moto"><span class="icon-bullhorn"></span> Mes sorties à venir</a></li>
                    <li class="nav-header">
                        Messagerie
                    </li>
                    <li><a href="/message">
                        <span class="icon-envelope"></span> Mes messages
                        <span class="label label-important">2</span>
                    </a></li>
                    <li><a href="/message/nouveau"><span class="icon-pencil"></span> Nouveau message</a></li>
                    <li class="nav-header">
                        Divers
                    </li>
                    <li><a href="/les-succes-de-moto-trip"><span class="icon-ok"></span> Liste des succès</a></li>
                    <li class="nav-header">
                        Mon compte
                    </li>
                    <li><a href="/modifier-mes-informations"><span class="icon-edit"></span> Modifier mon profil</a></li>
                    <li><a href="/se-deconnecter"><span class="icon-off"></span> Deconnexion</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="row">
                <div class="span5">
                    <h2>A propos</h2>
                    <div class="well well-small about-block">
                        <div class="row">
                            <div class="span2">
                            </div>
                            <div class="span2">
                                <dl class="no-margin">
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <h2>Succès débloqués</h2>
                    <div class="well well-small about-block">
                    </div>
                </div>
            </div>
            <h2>Flux d'activité</h2>
            <hr>
            <div>
                <p class="lead">
                    <span class="icon-ok"></span>
                    nhl57 a obtenu le succès		<small>Avant-Hier</small>
                </p>
                <div class="row">
                    <div class="offset1 span8">
                        <blockquote>
                            <p><strong>L'ambitieux</strong></p>
                            <p>Effectuez une recherche de balade avec une tranche kilométrique supérieure à 200 kilomètres</p>
                            <small>+ 50 points</small>
                        </blockquote>
                    </div>
                </div>
            </div>		<hr>
        </div>
    </div>
{% endblock %}
