{% extends 'AdminBundle:Themes:box.html.twig' %}

{% block box_title %}
    Ajouter une équipe
{% endblock %}

{% block box_content %}
    {% form_theme form 'AdminBundle:Themes:form.html.twig' %}
    <form action="{{ path('team_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
{% endblock %}

{% block box_button %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('team') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}


