@font-face
{
    font-family:'EngschriftDINDRegular';
    src:url(../fonts/engschriftdind/engschriftdind.eot);
    src:local('?'),
    url(../fonts/engschriftdind/engschriftdind.woff) format('woff'),
    url(../fonts/engschriftdind/engschriftdind.ttf) format('truetype'),
    url(../fonts/engschriftdind/engschriftdind.svg#webfontjcsCQqbV) format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face
{
    font-family:'MatrixScriptRegularLining';
    src:url(../fonts/matrixscriptregularlining/matrixScriptRegularLining.eot);
    src:url(../fonts/matrixscriptregularlining/matrixScriptRegularLining.eot?#iefix) format('embedded-opentype'),
    url(../fonts/matrixscriptregularlining/matrixScriptRegularLining.woff) format('woff'),
    url(../fonts/matrixscriptregularlining/MatrixScriptRegularLining.ttf) format('truetype'),
    url(../fonts/matrixscriptregularlining/matrixScriptRegularLining.svg#MatrixScriptRegularLiningRg) format('svg');
    font-weight:normal;
    font-style:normal;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a {
    font-family: 'EngschriftDINDRegular',Helvetica,Arial,Verdana,sans-serif !important;
}