#content h2 {margin-top: 18px;margin-bottom: 5px;font-family: 'Georgia';font-style: italic;font-weight: normal;font-size: 17px;}
#content h2.title {font-family: 'BebasNeue';font-size:41px;font-style:normal;}
#block-views-rider-block_1 {width: 640px;float: left;margin-right: 25px;margin-bottom: 10px; margin-top:10px;}
#content .view-rider ul {margin: 0;width: 651px;list-style-type: none;min-height: 127px;}
#content .view-rider .views-row {border: none;margin-bottom: 10px;}
#content .view-rider ul li {float: left;width: 83px;height: 101px;margin-right:20px;}
#content .view-rider ul li a {text-decoration: none;color: black;}
#content .view-rider ul li .flag {float: left;margin-top: 2px;}
#content .view-rider ul li .name {font-family: 'BebasNeue';text-transform: uppercase;font-size: 18px;float: left;margin-left: 5px;}

/* SHOW PROFIL */

#content div.next-rider div.view div.view-content div.views-row {border-bottom: none;margin-bottom: 0;padding-bottom: 0;}
#content .next-rider .views-row .views-field-field-firstname-value {font-family: 'BebasNeue';text-transform: uppercase;font-size: 18px;color: black;position: absolute;top: -98px;right: 0;}
#content .next-rider .views-row .views-field-field-firstname-value a {color: black;text-decoration: none;padding-right: 15px;}

#content .rider-profil .profil-line {clear: both;height: 64px;margin-bottom: 15px;}
#content .rider-profil .profil-0 {float: left;width: 328px;}
#content .rider-profil .profil-1 {float: left;width: 328px;border-bottom: 1px dashed #DDD;}
#content .rider-profil .profil-2 {float: left;width: 152px;border-bottom: 1px dashed #DDD;}
#content .rider-profil .profil-3 {float: left;width: 152px;border-bottom: 1px dashed #DDD;}
#content .rider-profil .label {display: block;margin-right: 5px;font-family: 'Georgia';font-style: italic;font-weight: normal;font-size: 17px;margin-bottom: 0;}
#content .rider-profil .value {display: block;text-transform: uppercase;font-size: 40px;font-family: 'BebasNeue';margin-bottom: 10px;}

#content .column-3 {width: 620px;float: left;margin-right: 25px;}
#content .content-block {border-bottom: 1px dotted #DDD;margin-bottom: 25px;padding-bottom: 10px;clear: both;}
#content .column-3 h1 {font-size: 30px;}
#content h1 {font-family: 'BebasNeue';}
.palmares-Y h1.Y {float: left;clear: both;}
#content .column-3 ul {margin: 0;}
#content ul {list-style-type: disc;margin-left: 15px;}
.palmares-Y ul {float: right;padding-left: 10px;padding-bottom: 25px;width: 240px;}
#content .palmares-Y ul li {list-style-type: none;margin-bottom: 0;clear: both;}
#content li {line-height: 19px;margin-bottom: 10px;}
#content .palmares-Y ul li .rank {font-weight: bold;width: 25px;display: inline-block;float: left;}
#content .palmares-Y ul li .race {padding-top: 5px;display: inline-block;width: 215px;}
#content .medias-videos {margin-bottom: 25px;overflow: auto;}
#content .medias-picture-gallery {overflow: hidden;clear: both;}
#content .col-2 {margin: 0;}
#content p, #tinymce p {margin-bottom: 17px;line-height: 19px;}
#content .column-3 .view-video {width: 303px;}
#content .column-3 .views-row {overflow: hidden;border-bottom: #C9C9C9 dotted 1px;}
#content .column-3 ul {margin: 0;}
#content .column-3 .field-content {height:0 !important;}

#rider-mission {background: url("../images/fond.gif") no-repeat; height: 395px;}

#rider-mission .profile-picture {max-width:430px;left:37px;position: relative;}

#profile {position: absolute;top: 75px;right: 0;width: 570px; color:#fff;}
#profile .label {display: block;margin-right: 5px;font-family: 'Georgia';font-style: italic;font-weight: normal;font-size: 14px;margin-bottom: 0;}
#profile .value {display: block;text-transform: uppercase;font-size: 35px;font-family: 'BebasNeue';margin-bottom: 25px;}
#profile .rider {font-size:52px;}

#profile .profil-0 {float: left;width: 429px;}
#profile .profil-1, #profile .profil-2, #profile .profil-3 {float: left;width: 190px;}

.palmares .group {overflow: hidden;margin-bottom: 20px;}
.views-field-date {font-family: 'MatrixScriptRegularLining';color: #8F8F8F;float: left;font-size: 16px;}
.palmares .views-row {float: right;width: 198px;margin-bottom: 5px;overflow: hidden;position: relative;}
.palmares .date-stroke {background: #D8162B;text-shadow: 0 -1px 0 #920011;}
.palmares .date-stroke .stroke {border-color: #D8162B;}
.date-stroke {position: relative;background: #82CAD1;color: white;font-family: 'BebasNeue',Helvetica,Arial,Verdana,sans-serif;text-transform: uppercase;font-size: 36px;border-radius: 4px;padding: 0px 5px;text-shadow: 0 -1px 0 #599195;margin-right: 6px;line-height: 40px;border: solid 2px white;}
.date-stroke .stroke {position: absolute;z-index: 10;top: 0;left: 0;width: 100%;border-bottom: solid 1px #82CAD1;height: 50%;}
.palmares .views-field-position {float: left;font-family: 'BebasNeue',Helvetica,Arial,Verdana,sans-serif;text-transform: uppercase;font-size: 16px;width: 30px;overflow: hidden;}
.palmares .views-field-race {float: right;width: 168px;font-size: 14px;}

.views-video h2 {font-family: 'BebasNeue';}