{% extends '::base.html.twig' %}

{% block body %}
    <div id="galleria"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/site/js/galleria.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/site/js/galleria/plugins/picasa/galleria.picasa.min.js') }}"></script>
    <script type="text/javascript">
        Galleria.loadTheme('{{ asset('bundles/site/js/galleria/themes/folio/galleria.folio.min.js') }}');
        //VERSION PICASA
        $('#galleria').galleria({
            height: 562,
            width: 1000,
            picasa: 'user:103763082660586563222', // 'galleriajs' is the username and 'Demo' is the album ID
            picasaOptions: {
                sort: 'date-posted-asc'
            }
        });
    </script>
{% endblock%}