<div>
    <ul class="breadcrumb">
        <li class="first">
            <i class="icon-home"></i>
            <a href="{{ path('dashboard') }}">Tableau de bord</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">Utilisateurs</a> <span class="divider">/</span>
        </li>
        <li class="active">Liste</li>
    </ul>
</div>