{%  block field_row %}
    {%  spaceless %}
        <div class="row-form">
            <div class="span3">{{ form_label(form) }}</div>
            <div class="span9">{{ form_widget(form) }}</div>
        </div>
    {%  endspaceless %}
{% endblock field_row %}